.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: strech;
    flex-wrap: wrap;
    margin: auto;    
  }
  
  .flex-item {
    flex: 1;
    margin: 0 10px;
  }
  
  .mat-form-field {
    display: block;
    flex-basis: 1em;
  }